<div id="carousel-container">
    <div class="d-flex flex-column">
        <label class="heading mb-3 font-weight-bold">OBSERVABILITY</label>
        <div class="d-flex justify-content-between">
            <p class="info">
                With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack
            </p>
            <div id="carousel-arrow" class="arrow-wrapper d-flex flex-column justify-content-center ml-3">
                <img src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/Path+2.png">
            </div>
            
        </div>
        
        <span>
            <a href="#">Read More</a>
        </span>

        <div class="images d-flex justify-content-between">
            <img id="carousel-img-1" class="main-image">
            <img id="carousel-img-2" class="cut-off-image ml-4">
        </div>
    </div>
</div>