<div id="customers-container"> 
    <div class="d-flex">
        <div class="d-flex flex-column p-0">
            <img class="box-company-logo" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/AirBnb.png">
            <img class="box-company-logo" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Peloton.png">
        </div>
        <div class="info flex-fill p-4 d-flex flex-column justify-content-end">
            <img class="mb-5 adroll" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/adroll-logo-2x.png">
            <p>
                “Datadog has been instrumental in managing our real-time infrastructure, globally distributed in 5 data centers across hundreds of instances, and thousands of different metrics and dimensions for each host. I can't believe there was a time when we didn't have Datadog.”
            </p>
            <div class="d-flex flex-column">
                <label class="font-weight-bold m-0">Valentino Volonghi</label>
                <label>CHIEF TECHNOLOGY OFFICER</label>
                <a href="#">See More Stories</a>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Evernote.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Samsung.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Nginx.png">
    </div>
    <div class="d-flex">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Pagerduty.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Whole+Foods.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/AT%26T.png">
    </div>
</div>

<div id="customers-mobile-container">
    <div class="info p-4">
        <img class="mb-5 adroll" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/adroll-logo-2x.png">
        <p>
            “Datadog has been instrumental in managing our real-time infrastructure, globally distributed in 5 data centers across hundreds of instances, and thousands of different metrics and dimensions for each host. I can't believe there was a time when we didn't have Datadog.”
        </p>
        <div class="d-flex flex-column">
            <label class="font-weight-bold m-0">Valentino Volonghi</label>
            <label>CHIEF TECHNOLOGY OFFICER</label>
            <a href="#">See More Stories</a>
        </div>
    </div> 
    <div class="d-flex">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/AirBnb.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Peloton.png">
    </div>
    <div class="d-flex">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Evernote.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Samsung.png">   
    </div>
    <div class="d-flex">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Nginx.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Pagerduty.png">
    </div>
    <div class="d-flex">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/Whole+Foods.png">
        <img class="box-company-logo flex-fill" src="https://datadogko.s3.us-east-2.amazonaws.com/images/index/companies/AT%26T.png">
    </div>
</div>