<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{.Site.Title }}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{ $sass := resources.Get "sass/style.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
    <div id="footer-container" class="d-flex flex-column justify-content-between">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 column-1 d-flex flex-column">
                    <button id="footer-free-trial" type="button" class="btn btn-outline-light">FREE TRIAL</button>
                    <label class="copyright-desktop">© Datadog 2017</label>
                </div>
                <div class="col-md-3 column-2">
                    <div class="font-weight-bold">Product</div>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-lg-8 d-flex flex-column">
                            <a href="#">Features</a>
                            <a href="#">APM</a>
                            <a href="#">Integrations</a>
                            <a href="#">Alerts</a>
                            <a href="#">API</a>
                            <a href="#">Pricing</a>
                        </div>

                        <div class="col-6 col-lg-4 d-flex flex-column">
                            <a href="#">Documentation</a>
                            <a href="#">Contact Us</a>
                            <a href="#">Partners</a>
                            <a href="#">Press</a>
                            <a href="#">Our Team</a>
                            <a href="#">Careers</a>
                            <a href="#">Legal</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 column-3">
                    <div class="font-weight-bold">About</div>
                    <hr>
                    <div class="col-md-6 p-0 d-flex flex-column">
                        <a href="#">Contact Us</a>
                        <a href="#">Partners</a>
                        <a href="#">Press</a>
                        <a href="#">Our Team</a>
                        <a href="#">Careers</a>
                        <a href="#">Legal</a>
                    </div>                  
                </div>
                <div class="col-md-2 column-4">
                    <div class="font-weight-bold">Social</div>
                    <hr>
                    <div class="col-md-6 p-0 d-flex flex-column">
                        <a href="#">Blog</a>
                        <a href="#">Espanol</a>
                        <a href="#">Japanese</a>
                        <a href="#">Instagram</a>
                        <a href="#">Twitter</a>
                    </div>     
                </div>
                <div class="col-md-12 about-blog-mobile">
                    <div class="row">
                       <div class="col-6 col-lg-8">
                         <div class="font-weight-bold">About</div>
                         <hr>
                          <div class="col-md-6 p-0 d-flex flex-column">
                            <a href="#">Contact Us</a>
                            <a href="#">Partners</a>
                            <a href="#">Press</a>
                            <a href="#">Our Team</a>
                            <a href="#">Careers</a>
                            <a href="#">Legal</a>
                        </div>        
                       </div>
                       <div class="col-6 col-lg-4">
                         <div class="font-weight-bold">Social</div>
                         <hr>
                          <div class="col-md-6 p-0 d-flex flex-column">
                            <a href="#">Blog</a>
                            <a href="#">Espanol</a>
                            <a href="#">Japanese</a>
                            <a href="#">Instagram</a>
                            <a href="#">Twitter</a>
                        </div>     
                       </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="d-flex d-flex justify-content-center">
                <a href="#" class="nav-link text-white font-weight-bold">Terms</a>
                <label>|</label>
                <a href="#" class="nav-link text-white font-weight-bold">Privacy</a>
                <label>|</label>
                <a href="#" class="nav-link text-white font-weight-bold">Cookies</a>
            </div>
            <div class="d-flex d-flex justify-content-center copyright-mobile">© Datadog 2017</div>
        </div>
    </div>
</body>
</html>
