#carousel-container {
    padding: 30px;
    background-color: #F5F5F5;
    width: 100%;
    overflow: hidden;
    min-width: 530px;

    .heading {
        color: #724EEF;
    }


    .arrow-wrapper {
        cursor: pointer;
    }

    span {
        display:inline-block;
        padding-bottom:2px;
        width: 80px;
        border-bottom: 2px solid #724EEF;
        color: #724EEF;

        a {
            color: #724EEF;
            text-decoration: none;
        }
    }

    .info  {
        font-size: 30px;
    }

    .images {
        position: relative;
        margin-top: 90px;

        .cut-off-image {
            position: absolute;
            left: 545px;
        }
    }
}

@media (min-width: 0px) { 
    #carousel-container { 
        .info  {
            font-size: 25px;
        }

        .images {
            img {
                width: 100%;
                height: 250px;
            }
        }
    }
}


@media (min-width: 1200px) { 
    #carousel-container { 
        .images {
            img {
                width: 440px;
                height: 268px;
            }
        }
    }
}