#price-card-container  {
    background-color: #F5F5F5;

    .price-card-inner {
        padding: 10px;
        height: 100%;;
        .per-host-per-month {
            font-size: 12px;
        }
    
        ul {
            padding: 0;
            list-style-type:none;
        }
    
        span{
            display:inline-block;
            padding-bottom:2px;
    
            a {
                text-decoration: none;
            }
        }
    }
}

// sm
@media (min-width: 0px) { 
    #price-card-container  {
        .price-card-inner {
            span{
                width: 80px;
            }
        }
    }
}


// lg
@media (min-width: 992px) { 
    #price-card-container  {
        padding: 10px;
        // height: 400px;
        //width: 150px;

        .price-card-inner {
            span{
                width: 80px;
            }
        }
    }
}

// xl
@media (min-width: 1200px) { 
    #price-card-container  {
        padding: 10px;
        height: 461px;
        min-width: 180px;
        font-size: 80%;

        .price-card-inner {
            span{
                width: 65px;
            }
        }
    }
}

// #price-card-mobile-container {
//     background-color: #F5F5F5;
//     width: 100%;;
// }