#price-card-container  {
    background-color: #F5F5F5;
    padding: 20px 10px;

    .price-card-inner {
        height: 100%;;
        padding-left: 8px;
        padding-right: 8px;
        .heading {
            min-height: 48px;
        }
        .per-host-per-month {
            font-size: 12px;
        }
    
        ul {
            padding: 0;
            list-style-type:none;
        }
    
        span{
            display:inline-block;
            padding-bottom:2px;
    
            a {
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 0px) { 
    #price-card-container  {
        .price-card-inner {
            span{
                width: 83px;
            }
        }
    }
}


@media (max-width: 575px) { 
    #price-card-container  {
        height: 450px;
        .price-card-inner {
            border: none !important;
        }
    }
}

// md
@media (min-width: 576px) { 
    #price-card-container  {
        height: 598px;
    }
}



// lg

// xl
@media (min-width: 1200px) { 
    #price-card-container  {
        min-width: 180px;
        font-size: 80%;
        height: 460px;

        .price-card-inner {
            span{
                width: 65px;
            }
        }
    }
}

// #price-card-mobile-container {
//     background-color: #F5F5F5;
//     width: 100%;;
// }